<div id='popUp' class="popupAlert" style="display:none">
    <span class="closeAlert" onclick="hidePopUp()">close</span>
</div>
<div id="room">
    <div id="content">
        <div id="main-video">
            <!--big videos-->
        </div>
        <div id="logo">
            <img src="img/kaza-logo.png" />
        </div>
        <div id="room-name">Room : {{roomName | split:'-':0}}</div>
        <div class="mb" align="right" style="margin: 1em; padding-bottom: 5px" id="buttonActions">
            <!--<button class="btn btn--xl btn--brown btn--fab mdi md-recent-actors" lx-ripple ng-click="disableMainSpeaker()" id="buttonMainSpeaker" title="Main Speaker toggle"></button> disable Main Speaker-->
            <button class="btn btn--xl btn--teal btn--fab mdi md-volume-up" lx-ripple ng-click="onOffVolume()" id="buttonVolume" title="Audio toggle"></button>
            <!--mute audio-->
            <button class="btn btn--xl btn--grey btn--fab mdi md-videocam" lx-ripple ng-click="onOffVideocam()" id="buttonVideocam" title="Video toggle"></button>
            <!--mute video-->
            <!--<button class="btn btn--xl btn--blue-grey btn--fab mdi md-not-interested" lx-ripple ng-click="disconnectStream()" id="buttonDisconnect" title="Disconnect media stream"></button> unpublish or unsubscribe media-->
            <!--<button class="btn btn--xl btn--deep-purple btn--fab mdi md-mood" lx-ripple ng-click="showHat()" id="hatButton" title="Hat toggle"></button> hat-->
            <button class="btn btn--xl btn--orange btn--fab mdi md-desktop-mac " lx-ripple ng-click="shareScreen()" title="Desktop sharing"></button>
            <button class="btn btn--xl btn--red btn--fab mdi md-call-end " lx-ripple ng-click="leaveRoom()" id="buttonLeaveRoom" title="Leave room"></button>
            <!--colgar-->
            <button class="btn btn--xl btn--purple btn--fab mdi md-fullscreen" style="font-size: 1.9rem" lx-ripple ng-click="goFullscreen()"
                title="Fullscreen"></button>
            <!--Share File-->
            <button type="file" class="btn btn--xl btn--green btn--fab mdi md-attach-file" lx-ripple custom-on-change="onFileSelect"
                title="Share File">
            </button>
            <!--whiteboard-->
            <button class="btn btn--xl btn--yellow btn--fab mdi md-content-paste" lx-ripple ng-click="toggleWhiteboard()" title="Whiteboard">
            </button>
            <!--chat-->
            <button class="btn btn--xl btn--blue btn--fab mdi md-chat" lx-ripple ng-click="toggleChat()" title="Chat toggle"></button>
            <!--sharing-->
            <button class="btn btn--xl btn--blue btn--fab mdi md-share" lx-ripple ng-click="shareUser()" title="Share to someone"></button>
            <!--chat-->
        </div>
        <div id="participants">
            <!--small videos-->
        </div>
        <!--test for fs start-->
        <div style="display:none">
            <div class="overlay"></div>
            <!--<button class="btn-select-file"></button>-->
            <iframe></iframe>
            <header>
                <div class="ribbon">
                    <div class="ribbon-stitches-top"></div><strong class="ribbon-content"><h1>
          <input type="text" id="room-id" placeholder="room-id"><button id="join-room">Join</button>
        </h1></strong>
                    <div class="ribbon-stitches-bottom"></div>
                </div>
            </header>
            <div id="number-of-users" title="Number of online users.">0</div>
            <div id="logs">
                <p>
                    Peer-to-Peer (private) file sharing.
                </p>
                <p>
                    You can share/receive files from any platform/device e.g. destkop operating systems, Android, iOS etc.
                </p>
                <p>
                    Create or join a room & select file using "+" button.
                </p>
            </div>
            <a class="chrome-web-store-icon" href="https://chrome.google.com/webstore/detail/webrtc-file-sharing/nbnncbdkhpmbnkfngmkdbepoemljbnfo"
                target="_blank" title="Install Chrome Desktop Extension"></a>
            <a class="android-app-icon" href="https://play.google.com/store/apps/details?id=com.webrtc.experiment" target="_blank" title="Install Android App"></a>
        </div>
        <!--test for fs end-->
    </div>
    <!--CHAT-->
    <!--<div class="toggler" style="width: 20%;height: 100%;float: right">-->
    <div class="toggler" id="effect" style="display:none;width: 20%;height: 100%;float: right">
        <!--head-->
        <div>
            <strong>Chat</strong>
            <button class="btn btn--s btn--blue btn--icon mdi md-close" lx-ripple ng-click="toggleChat()" id="button"></button>
            <!--close-->
        </div>
        <div id="chatDiv" style="height: 75%;  overflow: scroll;">
            <div id="messages">
                <ul class="list">
                    <!--chat messages with scroll-->
                </ul>
            </div>
        </div>
        <!--message and button to send-->
        <div>
            <form>
                <lx-text-field label="Message">
                    <!--<input id="inputMessage" type="text" ng-model="message">-->
                    <textarea style="height:50px;max-height:50px;" id="inputMessage" ng-model="message"></textarea>
                </lx-text-field>
                <button type="submit" class="btn btn--m btn--green btn--raised" lx-ripple ng-click="sendMessage()">Send</button>
            </form>
        </div>
    </div>
    <!--</div>-->
    <!--Whiteboard-->
    <!--<div class="toggler" style="width: 70%;height: 100%;margin-left:30%;">-->
    <div class="toggler" id="whiteboard" style="display:none;width: 70%;height: 100%;margin-left:30%;">
        <div>
            <strong>Whiteboard</strong>
            <button class="btn btn--s btn--blue btn--icon mdi md-close" lx-ripple ng-click="toggleWhiteboard()" id="button"></button>
        </div>
        <iframe allowfullscreen style="height:100%;width:100%" ng-if="whiteboardsource" ng-src="{{ whiteboardsource | trustUrl }}"></iframe>
    </div>
    <!--</div>-->
    <!--material popup-->
    <div style="padding: 8px; display: none !important;" id="popupContainer">
        <div style="visibility: hidden">
            <div class="mdcontainer" id="myDialog">
                <md-dialog class="dialogclass" layout-padding>
                    <h2>Pre-Rendered Dialog</h2>
                    <p>
                        This is a pre-rendered dialog, which means that <code>$mdDialog</code> doesn't compile its template
                        on each opening.
                        <br/><br/> The Dialog Element is a static element in the DOM, which is just visually hidden.<br/>                        Once the dialog opens, we just fetch the element from the DOM into our dialog and upon close we restore
                        the element back into its old DOM position.
                    </p>
                </md-dialog>
            </div>
        </div>
    </div>
    <!--material popup-->
</div>