<div class="join">
    <div id="join-title"></div>
    <div class="card" id="join">
        <form role="form" ng-submit="joinHub(room)" accept-charset="UTF-8">
            <div class="card__content">
                <lx-text-field label="Username">
                    <input type="text" id="name" ng-model="room.userName" required>
                </lx-text-field>
                <lx-text-field label="EmailId">
                    <input type="text" id="email" ng-model="room.email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                </lx-text-field>
            </div>
            <div class="card__actions">
                <div class="grid">
                    <div class="grid__col12">
                        <button class="btn btn--l btn--blue btn--raised" lx-ripple type="button" ng-click="clear()">Clear </button>
                        <button id="joinBtn" class="btn btn--l btn--green btn--raised" lx-ripple type="submit">Join Hub!</button>
                    </div>
                </div>
                <br>
            </div>
        </form>
    </div>
</div>